/* CSS for Baby Buttons */
.f {
  border-radius: 10px;
  background-color: #fd9644;
  color: #ffffff;
  border-color: #fd9644;
}
.m {
  border-radius: 10px;
  background-color: #45aaf2;
  color: #ffffff;
  border-color: #45aaf2;
}
